body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: futura;
}
body,h1,h2{
	font-family: "futura", sans-serif
}

body {
	height: 100%;
	width: 100%;
}

p {line-height: 2}

.bgimg, .bgimg2 {
    min-height: 500px;
    background-position: center;
    background-size: cover;
}
#photo {
	height: 100%;
	background-image: url("me_home_image.JPG");
	background-position: center;
    background-size: cover; 
}

#photo_two {
	height: 100%;
	background-image: url("me_about.JPG");
	background-position: center;
    background-size: cover;
}

.photo-text {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 85%;
    font-family: helvetica;
}

.photo-text-paragraph {
	position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 85%;
    font-family: helvetica;
    font-weight: lighter;
}

